@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

  *,*:before, *:after {
  box-sizing: border-box ; 
  padding: 0 ;
  margin: 0 ;  
  font-family: 'Oswald';
  }

  body {
    background: linear-gradient(to bottom, #b7e29b 0%, #ffffff 50%);
    background-repeat: no-repeat;
  }

  * {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  * ::-webkit-scrollbar { 
    display: none;  
  }